@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margine:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
     font-family: "Open Sans", sans-serif;
}

a{
    text-decoration:none;
    color: inherit; 
}

.section-title{
    font-size:35px;
    text-align:center;
    margin-bottom:10px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px; 

    /* align-self:safe;
    padding: 20px;
    background-color: #333; */
}

.navbar-links{
    list-style:none;
    display:flex;
    gap:10px;
}

.hero{
    height:450px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/hero.png');
    color:#ffffff;
    text-align:center;
    padding-top:100px;
}

.hero-title{
    font-size:65px;

}

.hero-lead{
    font-size:25px;
   
}

.hero-btn{
    background:#ffffff;
    color:black;
    padding:10px;
    display: inline-block;
    margin-top:10px;
    border-radius:30px;
    font-weight:bold;
}

.about{
    padding-top:20px;
    padding-bottom: 20px;
    padding-right:30px;
    padding-left:30px;

}

.about-layout{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    align-items:center;
}

.about-text{
    line-height:1.8;
}
